<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Domain</directory>
            <directory suffix="Test.php">./tests/Application</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Adapter</directory>
            <directory suffix="Test.php">./tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
             <!-- Public directory is not part of src code -->
            <directory>./public</directory>
            <!-- PHP CS Fixer config is not part of src code -->
            <file>./.php-cs-fixer.dist.php</file>
            <!-- Exclude controller from unit test coverage, it's for integration tests -->
            <directory suffix=".php">./src/Adapter/Framework/Http/Controller</directory>
        </exclude>
    </coverage>
</phpunit>
