{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4">Edit Expense</h1>

        {% include 'admin/_partials/_flash_messages.html.twig' %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        {{ form_end(form) }}
    </div>
{% endblock %}